@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,500&display=swap');


body{
    margin:0;
    padding:0;
}
.page-one{
    background-color:midnightblue;
    font-family: "Roboto", sans-serif;
    
}
.page-one .nav-div {
    display: flex;
    gap:80px;
align-self:flex-start ;

}
.nav-div h1{
    margin-left: 90px;
    font-size: 42px;
    color: #ffff;
}

.nav-div .anchor-div{
    margin-top: 25px;
    margin-left: -40px;
}
.nav-div .anchor-div ul{
    display: flex;
    gap:30px;
}

.nav-div .anchor-div ul li{
    list-style: none;
    font-size: 15px;
    
}
.nav-div .anchor-div ul a{
    text-decoration:none;
    color: #ffff;
}
.nav-div .sayhi{
    margin-top:45px;
    margin-left: 145px;
    
}
.nav-div .sayhi a{
    font-size: 22px;
    color:#F79E0E;
}

.hero-div{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}
.hero-div .rocket{
margin-left:90px;
width:40%;
}
.hero-div .rocket h1{
    font-size: 35px;
    
    }
    .hero-div .rocket p{
        font-size: 18px;
        color:#ffff;
        }
    .hero-div .rocket .color-it{
        color:#F79E0E;
        }

        .short-lorem {
            display: flex;  
        }
        .short-lorem .list-item-one li{
            list-style: none;
            color:#ffff;
            margin-bottom: 15px;
            margin-left: -35px;
            font-size: 14px;
        }
        .short-lorem .list-item-two li{
            list-style: none;
            margin-left: 45px;
            color:#ffff;
            margin-bottom: 15px;
            font-size: 14px;
        }
        .fonts{
            color:#F79E0E;
            margin-right:15px;
           }

        .get-started {
            margin-top: 25px;
         }
         .get-started button{
             width:270px;
             height:60px;
             border-radius: 25px;
             background-color:#F79E0E ;
             color:#fff;
             font-size: 18px;
             border:none;
         }

        .aero-div{
            width:20%;

        }
        .aero-div img{
            width:550px;
            margin-left: 86px;
            margin-top: 25px;
            object-fit:contain;

        }
        .page-two{
            display: flex;
            gap:30px;
            padding: 0;
            
        }
        .page-two .about{
            width:60%
        }
        .about img{
            margin-left: 50px;
            margin-top: 50px;
        }
         .expert-store{
            width:35%;
            margin-top: 100px;
            
        }
        .expert-store .store{
            margin-bottom:-15px;
        }
        .expert-store .color-it{
            color:#F79E0E;
        }
        .expert-store h2{
                font-size: 30px;
                line-height: 40px;
               
        }
        .expert-store p{
            color:darkgrey;
            margin-top: -10px;
    }
    .about-lorem{
        display:flex;
        margin-top: -30px;
    }

    .about-lorem li{
        list-style: none;
        margin:7px;
       font-size: 13px;
    }

    .about-lorem .list-item-one li{
        list-style: none;
        margin-bottom: 15px;
        margin-left: -35px;
        font-size: 14px;
    }
    .about-lorem .list-item-two li{
        list-style: none;
        margin-left: 45px;
        margin-bottom: 15px;
        font-size: 14px;
    }

    .read-more button{
        width:140px;
        height:50px;
        background-color:#F79E0E ;
        border-radius: 5px;
        color:#fff;
        font-size: 18px;
        border:none;
        margin-left: 13px;
        margin-top: 18px;
    }